<!DOCTYPE html>
<html>
<head>
  <title>numMy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to image_tag("https://lh3.googleusercontent.com/rdSoefu4gUXd3MNpaQtJwUrzma6mxzKC7eFclemlAsAaLTpg9GJhmxpuubkBMma0XcPXqtztn6C72lOvZblA_51XXsEKhI-GD5daP9RdoHHlf0olhe3a1A3h5G5y3iQNBsfyxP4bjF5pd1TFY4g_bZHUh5MMV_BX7g6d3DYPf_Oi_gRyG_NrJEHSnvhDumia8AfMYj48VbSNe7EsyvWKiph-S9kPh4-jYEKbg4mDho1Z9OMAZrHXZex4fme0iuNzLFv1SuENU61MuAJin4SWWYcBXVQca0P8GjIG6B5b0GQ2OWiZfTtSII6XEF5-4upb52fZ2TFl8YCiW0zl3S9KQJSvuqZSHurBFM2ddsqlYN03aEY-Dgd3_yH6JL6iBeT4gZ2Jm45ih37jPOViqsqnBF1icZIdQ46EtC5luu4W48Pl7R7eDaNcaUjmWB3gxex2phX5GJf8HxSFkDb8yOh4A5PwMBww0U2Ws41wrd_OrX6pX_IqbGmeyFlL82CLplnGoWoyqi5-n7Zlvz3-d6Rcil4=w354-h136-no", height: '40'), root_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
  </ul>
  <ul class="pull-right nav nav-tabs nav-right">
    <li><%= link_to "My Kitchen", ingredients_path %></li>
    <li><%= link_to "Recipes", recipes_path %></li>
  </ul>

  <% if flash[:notice] %>
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>